{"filter":false,"title":"requirements.txt","tooltip":"/covid_inform/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":19},"action":"insert","lines":["Flask==1.0.2","line-bot-sdk==1.7.2"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":19},"end":{"row":1,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1618994995574,"hash":"07c397b28e594a20962feeebaec308dfa9dcf7d0"}